p{
  font-family: Roboto, Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

body{
  /* This style is inherited*/
  margin: 0px;
  font-family: Roboto, Arial;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(245, 245, 245);
  height: 1050px;
}
